# Practice Notebook: R Basics for scRNA-seq Analysis

Welcome to the practice notebook! Here, you'll apply everything you learned in the previous notebook. Each section includes exercises to test your understanding of R basics. Try to solve the problems on your own, and then check the solutions provided.

Let's get started!

---

## 1. Basic Arithmetic Operations

**Exercise 1:** Calculate the following:
- The sum of 15 and 27.
- The product of 8 and 9.
- The result of 100 divided by 25.
- The value of 2 raised to the power of 10.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
15 + 27
8 * 9
100 / 25
2 ^ 10

---

## 2. Variables and Data Types

**Exercise 2:**
- Create a variable called `gene_count` and assign it the value 250.
- Create a variable called `gene_name` and assign it the value "CD4".
- Create a variable called `is_expressed` and assign it the value `TRUE`.

Print all three variables.

In [ ]:
# Your code here

**Solution:**

In [ ]:
gene_count <- 250
gene_name <- "CD4"
is_expressed <- TRUE

gene_count
gene_name
is_expressed

---

## 3. Vectors

**Exercise 3:**
- Create a numeric vector called `expression_values` with the values 5, 10, 15, 20, and 25.
- Calculate the mean of the vector.
- Access the third element of the vector.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
expression_values <- c(5, 10, 15, 20, 25)
mean(expression_values)
expression_values[3]

---

## 4. Data Frames

**Exercise 4:**
- Create a data frame called `gene_expression` with the following data:
  - Column 1: `Gene` with values "TP53", "BRCA1", "EGFR".
  - Column 2: `Sample1` with values 10, 20, 30.
  - Column 3: `Sample2` with values 15, 25, 35.
- Access the `Sample1` column.
- Access the second row of the data frame.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
gene_expression <- data.frame(
  Gene = c("TP53", "BRCA1", "EGFR"),
  Sample1 = c(10, 20, 30),
  Sample2 = c(15, 25, 35)
)

gene_expression$Sample1
gene_expression[2, ]

---

## 5. Functions

**Exercise 5:**
- Write a function called `calculate_sum` that takes a numeric vector as input and returns the sum of its elements.
- Test your function with the vector `c(2, 4, 6, 8, 10)`.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
calculate_sum <- function(values) {
  sum(values)
}

calculate_sum(c(2, 4, 6, 8, 10))

---

## 6. Operators

**Exercise 6:**
- Check if 10 is greater than 5.
- Check if 20 is equal to 20.
- Check if 15 is not equal to 20.
- Use the logical AND operator to check if both `TRUE` and `FALSE` are true.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
10 > 5
20 == 20
15 != 20
TRUE & FALSE

---

## 7. Loading Packages

**Exercise 7:**
- Install and load the `tidyverse` package.
- Check if the package is loaded by running the command `sessionInfo()`.

Write your code in the cell below.

In [ ]:
# Your code here

**Solution:**

In [ ]:
install.packages("tidyverse")
library(tidyverse)
sessionInfo()

---

## Conclusion

Great job! You've practiced the basics of R, including arithmetic operations, variables, vectors, data frames, functions, operators, and loading packages. These skills will be essential as you progress to analyzing scRNA-seq data.

Keep practicing, and happy coding!